@model Teklif
@{
    var ProductList = (IEnumerable<StokKartlar>)ViewBag.ProductList;
    ViewBag.Title = "Edit";

}
<script type="text/javascript">
    $(function () {
        $("#txtCustomer").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: '/Teklif/AutoComplete/',
                    data: "{ 'prefix': '" + request.term + "'}",
                    dataType: "json",
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    success: function (data) {
                        response($.map(data, function (item) {
                            return item;
                        }))
                    },
                    error: function (response) {
                        alert(response.responseText);
                    },
                    failure: function (response) {
                        alert(response.responseText);
                    }
                });
            },
            select: function (e, i) {
                $("#hfCustomer").val(i.item.val);
            },
            minLength: 1
        });
    });
</script>


<div class="container-fluid">
    <form action="@Url.Action("Edit","Teklif")" method="post" role="form" enctype="multipart/form-data">
        <div class="row">
            <div class="row col-md-5">






                <div class="form-group">
                    <label class="control-label">Firma:</label>
                    <input type="text" id="txtCustomer" name="CustomerName" />
                    @*@Html.DropDownListFor(model => model.Firma, ViewData["Unvan"] as SelectList, "Seçiniz", new { @class = "bs-select form-control" })*@
                    @Html.ValidationMessageFor(model => model.Firma)

                </div>


                <div class="form-group">
                    <label class="control-label">Birim Fiyat:</label>
                    @Html.EditorFor(model => model.BirimFiyat, new { htmlAttributes = new { @type = "text", @class = "form-control", @id = "form_control_1" } })
                    @Html.ValidationMessageFor(model => model.BirimFiyat)
                </div>
                <div class="form-group">

                    <label class="control-label">Müşteri*</label>
                    @Html.DropDownListFor(model => model.Musteri, ViewData["Musteri"] as SelectList, "Seçiniz", new { @class = "bs-select form-control" })
                </div>

            </div>
            <div class="col-md-5">


                <div class="form-group">
                    <label class="control-label">İlgili Kisi*</label>
                    @Html.DropDownListFor(model => model.CariId, ViewData["Ilgili"] as SelectList, "Seçiniz", new { @class = "bs-select form-control" })
                </div>
                <div class="form-group">
                    <div class="form-group">
                        <label class="control-label">Proje Adi*</label>
                        @Html.DropDownListFor(model => model.ProjeId, ViewData["ProjeAdi"] as SelectList, "Seçiniz", new { @class = "bs-select form-control" })
                    </div>

                </div>
                @*<div class="form-group">
                <label class="control-label">Kar Orani:</label>
                @Html.EditorFor(model => model.KarOrani, new { htmlAttributes = new { @type = "text", @class = "form-control", @id = "form_control_1" } })
                @Html.ValidationMessageFor(model => model.KarOrani)
            </div>*@

            </div>


            <table class="table">
                <tr>
                    <th>

                        Durum
                    </th>
                    <th>

                        Stok Kodu
                    </th>
                    <th>

                        Stok Adı
                    </th>
                    <th>

                        Birim
                    </th>
                    <th>

                        Alış Fiyatı
                    </th>
                    <th>

                        KDV
                    </th>
                    <th>

                        Marka
                    </th>
                    <th>

                        Model
                    </th>
                    <th>

                        Stok Grupu
                    </th>



                </tr>

                @foreach (var item in ProductList)
                {
                    <tr>
                        <td>
                            <input type="checkbox" name="CheckTeklif" value="@item.Id">
                            @*<input type="checkbox" data-id="@item.Id" /><label>@item.StokAdi</label><br />*@
                        <td>
                            @Html.DisplayFor(modelItem => item.StokKodu)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.StokAdi)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Birim)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.AlisFiyat)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.KDV)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Marka)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Model)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.StokGrup)
                        </td>
                        <td>
                            <input data-id="@item.Id" type="submit" value="gonnder" class="btn green" />
                        </td>

                    </tr>


                }


            </table>


        </div>
        <div class="form-actions">
            <div class="row">
                <div class="col-md-offset-3 col-md-9">
                    <button type="submit" class="btn green">Submit</button>
                    <button type="button" class="btn default">Cancel</button>
                </div>
            </div>
        </div>
    </form>
</div>
@section scripts {
    <script>
        $(document).ready(function () {
            $('#summernote').summernote({
                lang: 'tr-TR'
            });

        });
    </script>
}