@model  IEnumerable<Teklif>
@{
    ViewBag.Title = "Index";
    var grid = new WebGrid(Model);
}
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <span>Ana Sayfa</span>
        </li>
    </ul>
</div>
<h1 class="page-title">
    Teklifler
    <small>Burada teklifleri sile bilir güncelleye bilir ve onların detayını göre bilirsiniz</small>
</h1>
<div class="container-fluid">



    <div class="portlet">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-shopping-cart"></i>Teklifler
                <a class="btn btn-success" href="@Url.Action("Create", "Teklif")"><span class="fa fa-plus-circle">Yeni Teklif</span></a>
                <a href="@Url.Action("ExportExcelAll")" class="btn btn-primary"><i class="fa fa-file-excel-o">Hepsini Excele Aktar</i></a>
            </div>
            <div class="tools">
                <a href="javascript:;" class="collapse"> </a>
            </div>
        </div>
        <div class="portlet-body">
            <div class="table-scrollable">
                <h2> @ViewData["hata"]</h2>
                @*table table-striped table-bordered table-advance table-hover*@
                @grid.Table(
    tableStyle: "table table-striped table-bordered table-advance table-hover",
    columns: grid.Columns(

        grid.Column(style: "col-md-3", format: @<text>
            <a href="@Url.Action("Edit", new { @Id = item.Id })" class="btn btn-warning"><i class="fa fa-edit"></i></a>
            <a href="@Url.Action("Delete", new { @Id = item.Id })" class="btn btn-danger remove"><i class="fa fa-remove"></i></a>
            <a href="@Url.Action("ViewDetail", new { @Id = item.Id })" data-toggle="modal" data-target="#myModal" class="btn btn-success"><i class="fa fa-eye"></i></a>
            <a href="@Url.Action("ExportExcel", new { @Id = item.Id })" class="btn btn-primary"><i class="fa fa-file-excel-o"></i></a>
            <a href="@Url.Action("ExportPDF", new { @Id = item.Id })" class="btn btn-info"><i class="fa fa-file-pdf-o"></i></a> <br /><br />
            <a href="@Url.Action("SiparisNot", new { @Id = item.Id })" data-toggle="modal" data-target="#siparis" class="btn btn-success">Sipariş ver</a>
        </text>
      @*  ),
    grid.Column(columnName: "Name", style: "col-md-1", header: "Firma", format: @<text>
        @item.CariKartlar.Unvan
    </text>
          ),
    grid.Column(columnName: "Name", style: "col-md-1", header: "Müşteri", format: @<text>
        @item.CariKartlar.Unvan2
    </text>*@
            @*),
                grid.Column(columnName: "Name", style: "col-md-1", header: "İlgili Kişi", format: @<text>
                    @item.CariKartlar.IligiliKisi
                </text>*@

            @*),
                grid.Column(columnName: "Name", style: "col-md-1", header: "Birim Fiyatı", format: @<text>
                    @item.BirimFiyati
                </text>*@
            @*),

                grid.Column(columnName: "Name", style: "col-md-2", header: "Birim (Adet)", format:@<text>
                    @item.StokKartlar.Birim
                </text>*@
            @*),

                grid.Column(columnName: "Name", style: "col-md-3", header: "Tutar", format:@<text>
                    @item.Tutar
                </text>*@
             ),

        grid.Column(columnName: "Name", style: "col-md-4", header: "Kar", format:@<text>
            @item.Kar
        </text>
            @*),

                        grid.Column(columnName: "Name", style: "col-md-4", header: "Kar", format:@<text>
                        @{
                            if(item.Durum==true)
                            {
                               <div>Siparis Verildi</div>;
                            }
                            else
                            {
                                <div>Teklif Beklemede</div>
                            }
                        }

                </text>*@
     )
    ))
            </div>
        </div>
    </div>
</div>




<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-full" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Modal title</h4>
            </div>
            <div class="modal-body">
                @Html.Partial("ViewDetail")
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="siparis" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-form" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Modal title</h4>
            </div>
            <div class="modal-body">

                @Html.Partial("SiparisNot")

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>