@model IEnumerable<Group>
@{
    ViewBag.Title = "ViewCari";
    var grid = new WebGrid(Model);
}
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <span>Grup Sayfa</span>
        </li>
    </ul>
</div>
<h1 class="page-title">
    Gruplar
    <small>Burada grupları sile bilir güncelleye bilirsiniz</small>
</h1>
<div class="container-fluid">
    <div class="portlet">
        <div class="portlet-title">
            <div class="tools">
                <a href="javascript:;" class="collapse"> </a>
            </div>  
            @using (Html.BeginForm("Create", "Group", FormMethod.Post))
            {
                    <div class="form-body">
                        <div class="form-group form-md-line-input">
                            @Html.Editor("GroupKodu", new {htmlAttributes = new {@type = "text", @class = "form-control", @id = "form_control_1", @placeholder = "Cari kodu"}})
                            <button type="submit" class="btn blue">Oluştur</button>
                        </div>
                    </div>
            }
        </div>
        <div class="portlet-body">
            <div class="table-scrollable">
                @*table table-striped table-bordered table-advance table-hover*@
                @grid.Table(
                    tableStyle: "table table-striped table-bordered table-advance table-hover",
                    columns: grid.Columns(
                        grid.Column(style: "col-md-2", format: @<text>
                            <a href="@Url.Action("Delete",new {@Id=item.Id})" class="btn btn-danger remove"><i class="fa fa-remove"></i></a>
                        </text>
                            ),
                        grid.Column(columnName: "Name", style: "col-md-1", header: "Id", format: @<text>
                            @item.Id
                        </text>

                            ),
                        grid.Column(columnName: "Name", style: "col-md-5", header: "Grup Adı", format: @<text>
                            @item.GroupKodu
                        </text>

                            )
                        ))
            </div>
        </div>
    </div>
</div>

